#restaurants #restaurants-card-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#restaurant-page-top{
    justify-content: center;

    i{
        margin-left: 50px;
    }
}

.restaurants-card{
    width: 45%;
}